
<div class="main-wrapper">
<div class="left-storage-nav">
    <h2>Lorex Cloud Storage</h2>
    <ul class="card-ul">
        <li>
            <p class="li-heading">Multi-Camera Plan</p>
            <div class="id-review">
                <p>Subscription ID:</p>
                <span>51940246183</span>
            </div>
            <div class="id-review">
                <p>Renews on:</p>
                <span>Feb 10, 2024</span>
            </div>
        </li>
        <li>
            <p class="li-heading">Unsubscribed devices</p>
            <div class="id-review">
                <p>4 compatible cameras</p>
            </div>
           
        </li>
    </ul>
</div>
<app-devices></app-devices>
</div>