<div class="login-container">
        <div class="login-heading">
            <h1>Welcome back!</h1>
            <p>Please log into your Lorex account to continue</p>
        
       <div class="foarm-wrapper">
        <div class="input-inner">
            <span class="input-icon">
                <img src="../../../../assets/images/Frame.svg" alt="">
            </span>
            <input class="custom-input" type="text" placeholder="Email">
         </div>
         <div class="input-inner">
            <div class="input-icon">
                <img src="../../../../assets/images/Frame.svg" alt="">
            </div>
            <span class="input-icon-eye">
                <img src="../../../../assets/images/Frame.svg" alt="">
            </span>
            <input class="custom-input" type="password" placeholder="Password">
         </div>
         
         <div class="form-group">
            <input type="checkbox" id="html">
            <label for="html">Remember me</label>
            <button class="btn btn-secondary">Log in</button>
          </div>
         <div class="signup-content">
            <a href="#">Sign up</a>
            <a href="#">Forgot my password</a>
         </div>
       </div>
    </div>
</div>
