<div class="home-page-wrapper">
    <div class="image-container">
        <img src="../../../assets/images/daniel-von-appen-DF3NtSsKu2g-unsplash.jpg" alt="">
    </div>
    <div class="home-page-content">
        <h2>No Compatible Devices Found</h2>
        <p>You currently do not have any devices that are compatible with Lorex Cloud Storage. 
            If you have a compatible camera, please ensure that it has been set up and added to this account, 
            or visit our web store to shop for compatible devices.</p>
            <div class="home-page-btn">
                <button class="btn ">Shop compatible devices</button>
                <button class="btn">Download the Lorex App</button>
        
            </div>
    </div>
   
</div>