<div class="devices-wrapper">
    <div class="device-nav">
        <div class="device-nav-text">
            <h3>Your Devices</h3>
            <p>Select devices to attach to a plan</p>
        </div>
        <div class="device-btn">
            <button>Cancel Subscription</button>
        </div>
    </div>
    <div class="devices-card-wrapper">
        <div class="device-card">
            <div>
                icon
            </div>
            <div class="card-text">
                <p>Garage</p>
            <span>LNWZ2897149104</span>
            </div>
            <div>
                <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
            </div>
        </div>
        <div class="device-card">
            <div>
                icon
            </div>
            <div class="card-text">
                <p>Garage</p>
            <span>LNWZ2897149104</span>
            </div>
            <div>
                <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
            </div>
        </div>
        <div class="device-card">
            <div>
                icon
            </div>
            <div class="card-text">
                <p>Garage</p>
            <span>LNWZ2897149104</span>
            </div>
            <div>
                <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
            </div>
        </div>
        <div class="device-card">
            <div>
                icon
            </div>
            <div class="card-text">
                <p>Garage</p>
            <span>LNWZ2897149104</span>
            </div>
            <div>
                <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
            </div>
        </div>
        <div class="device-card">
            <div>
                icon
            </div>
            <div class="card-text">
                <p>Garage</p>
            <span>LNWZ2897149104</span>
            </div>
            <div>
                <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
            </div>
        </div>
        <div class="device-card">
            <div>
                icon
            </div>
            <div class="card-text">
                <p>Garage</p>
            <span>LNWZ2897149104</span>
            </div>
            <div>
                <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
            </div>
        </div>
        <div class="device-card">
            <div>
                icon
            </div>
            <div class="card-text">
                <p>Garage</p>
            <span>LNWZ2897149104</span>
            </div>
            <div>
                <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
            </div>
        </div>
    </div>
    <div class="footer">
        <button class="btn-outline">Cancel changes</button>
        <button class="btn">Apply changes</button>

    </div>
</div>