<div class="main-wrapper">
    <div class="left-storage-nav">
        <h2>Lorex Cloud Storage</h2>
        <ul class="card-ul">            
            <li class="card-li">
                <p class="li-heading">Single-Camera Plan</p>
                <ul class="listing-ul">
                    <li>• One camera  </li>
                    <li>• 30 days of cloud backup</li>
                    <li>• Cloud recording and playback within Lorex App</li>
                </ul>
                <p>$29.99 per year or $2.99 per month</p>
                
            </li>
            <li class="card-li">
                <div class="li-heading-wrapper">
                    <p class="li-heading">Single-Camera Plan</p>
                    <button class="li-heading-btn">Recommended</button>
                </div>
                <ul class="listing-ul">
                    <li>• One camera  </li>
                    <li>• 30 days of cloud backup</li>
                    <li>• Cloud recording and playback within Lorex App</li>
                </ul>
                <p>$29.99 per year or $2.99 per month</p>
                
            </li>
            <li>
                <div class="pricing-card-wrapper">
                    <div class="btn-group">
                        <button class="btn">Monthly </button>
                        <button class="btn">Yearly </button>
                    </div>
                </div>
            </li>
           
        </ul>
    </div>
    <div class="plan-detail-wrapper">
        <h3 class="plan-detail-heading">Plan Details</h3>
        <div class="Protect-against-wrapper"> 
            <p>Protect against:</p>
            <div></div>
        </div>
    </div>
    </div>
