$primary-bg-color:#4689FC;
$secondary-color-gray:#DDDDDD;
$black:#53555B;
$header-bg:#244184;
$primary-border-color:#4789FC;
$bg-light-gray:#ECF3F9;
$primary-color-bg-light:#4789FC0D;
$white-color:#ffff;
$bg-main-content:#DDDDDD1A;
$span-color:#4689FF;
$dark-color: #F26666;